<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnpsNJ_rDaCU7wpIR0fUSzQM3rpCpghD8</string>
	<key>GCM_SENDER_ID</key>
	<string>494060081491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.technopark.Otzovik</string>
	<key>PROJECT_ID</key>
	<string>otzovik-484f7</string>
	<key>STORAGE_BUCKET</key>
	<string>otzovik-484f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494060081491:ios:593dc1edfdace69fb5d1a6</string>
</dict>
</plist>